
.loader-container {
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  
  .loader {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid rgba(18, 58, 188, 0.2);
    border-top: 4px solid #123abc;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  